.content{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.contextBox{
    margin: 1.25em 0;
    flex-basis: 50%;
    min-width: 18.75em;
    height: 100%;
    position: relative;
}
.contextBox .textBox{
    max-width: 25em;
    margin-top: 6.25em;
}
.contextBox .textBox h5{
    color: var(--color-txt-hover);
    font-size: 1em;
    font-weight: 500;
}
.contextBox .textBox h1{
    font-size: 3.125em;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 65px;
    color: var(--color-blanco);
}
.contextBox .galeryBox{
    width: 25em;
    position: relative;
    margin: auto;
}
.galeryBox .img{
    width: 25em;
    height: 32em;
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    transition: all .5em;
}
.galeryBox ul{
    position: absolute;
    right: 6.25em;
    top: 56%;
    transform: translateY(-50%);
}
.galeryBox ul li{
    list-style: none;
    font-size: 1em;
    font-weight: 400;
    padding: 0 1.875em;
    margin-bottom: 1.875em;
    position: relative;
    cursor: pointer;
    color: var(--color-blanco);
}
.galeryBox .active{
    color: var(--color-txt-hover);
}
.galeryBox ul li::after{
    content: '';
    width: 1.875em;
    height: 2px;
    background: transparent;
    position: absolute;
    top: 8px;
    left: -5px;
}
.galeryBox .active::after{
    background: var(--color-txt-hover);
}
.fa-square{
    position: absolute;
    right: 50px;
    top: 200px;
    opacity: 0.5;
    transform: rotate(45deg);
    color: var(--color-txt-hover);
}